* {
  box-sizing: border-box;
}
  
body {
  background-color: rgb(70, 180, 98);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 135px;
  width: 145px;
  margin: 10px;
  border: solid 4px black;
  background: white;
}  

.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 140px;
  width: 150px;
  cursor: pointer;
}
  
.hold {
  border: solid 5px #ccc;
}

.hovered {
  background-color: #335;
  border-color: white;
  border-style: dashed;
}
  
@media (max-width: 750px) {
  body {
    flex-direction: column;
  }
}